*{
    box-sizing: border-box;
}

.container{
    display: block;
    width: 20%;
    height: 300px;
    padding: 10px;
    border: 1px solid  #e2e8f0;
}

/* Header */
.container header{
    margin: 5px 10px;
}

/* Section */
.container section{
    margin: 10px;
}

.div1_primary{
    background-color: #e2e8f0;
    padding: 10px 5px;
}
.div1_primary i{
    color: blueviolet;
}
.div1_primary span{
    font-weight: bold;
    color: blueviolet;
    padding-left: 10px;
}

.div2_secondary,.div3_secondary,.div4_secondary{
    padding: 10px 5px;
}


.div2_secondary span,.div3_secondary span,.div4_secondary span{
    padding-left: 10px;
}