*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 250px;
    margin: auto;
    padding: 10px;
    border: 1px solid  #e2e8f0;
}

/* Header */
.container header{
    margin: 5px 10px;
}

/* Section */
.container section{
    margin: 10px;
}

.div1_primary{
    background-color: #e2e8f0;
}
.div1_primary img{
    opacity: 100%;
    margin-right: 15px;
}
.div1_primary span{
    font-weight: bold;
    color: blueviolet;
}


.div2_secondary{
    margin: 15px 0px;
}
.div2_secondary img{
    margin-right: 15px;
}


.div3_secondary{
    margin: 15px 0px;
}
.div3_secondary img{
    margin-right: 15px;
}


.div4_secondary{
    margin: 15px 0px;
}
.div4_secondary img{
    margin-right: 15px;
}