*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 250px;
    margin: auto;
    padding: 10px;
    border: 1px solid  #e2e8f0;
}

/* Header */
.container header{
    margin: 5px 10px;
}

/* Section */
.container section{
    margin: 10px;
}

.container section .div1_primary{
    margin: 10px 0px;
    padding: 5px;
    color: blueviolet;
    background-color: #e2e8f0;
}
.container section .div1_primary img{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 15px;
}

.container section .div2_secondary{
    margin: 15px 0px;
}
.container section .div2_secondary img{
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.container section .div3_secondary{
    margin: 15px 0px;
}
.container section .div3_secondary img{
    height: 15px;
    width: 20px;
    margin-right: 15px;
}

.container section .div4_secondary{
    margin: 15px 0px;
}
.container section .div4_secondary img{
    height: 20px;
    width: 20px;
    margin-right: 15px;
}